body {
    font-family: 'Poppins', sans-serif;
}

body * {
    font-family: inherit;
}

main {
    position: relative;

    --sidebar-width: 300px;

    padding-left: var(--sidebar-width);
}

p {
    line-height: 1.5;
}

p a {
    text-decoration: underline;
}

p a:hover {
    text-decoration: none;
}

.sidebar {
    width: var(--sidebar-width);
    position: fixed;
    left: 0;
    top:0;
    height: 100%;
    border-right: 1px solid #eee;
    overflow-y: auto;
    padding: 50px 30px 10px;
}

.sidebar ul ul {
    margin-left: 20px;
}

.sidebar ul a:hover {
    text-decoration: underline;
}

.side-nav {

}

.side-nav > li > a {
    font-weight: 600;
}

.side-nav li + li {
    margin-top: .4em;
}

.side-nav li ul {
    margin-top: .4em;
}

.content {
    padding: 50px;
}

.fillter-content {
    border-radius: 4px;
    background-color: #eee;
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 200px;
}

section {
    margin-top: 50px;
}

section + section {
    margin-top: 120px;
}

section h2 {
    margin-bottom: 1em;
    font-size: 40px;
}

section h3 {
    font-size: 22px;
    margin-top: 1em;
    margin-bottom: .7em;
}

section h4 {
    font-size: 16px;
    margin-top: 1.5em;
    margin-bottom: .7em;
}

section article + article {
    padding-top:50px;
}

section article > *:first-child {
    padding-top: 0;
}

.code-highlight {
    margin: 15px auto;
    line-height: 1.4;
    background-color: #fafafa;
    padding: 8px;
    border: 1px solid #ddd;
}

p {
    margin-bottom: 1em;
}

code {
    color: #e83e8c;
    word-wrap: break-word;
    background-color: rgba(0,0,0,.07);
    padding: 0 2px;
    font-family: monospace;
}