.flex {
    display: flex;
}

.column {
    display: flex;
    flex-direction: column;
    row-gap: var(--row-gap)
}

.row {
    display: flex;
    flex-direction: row;
    column-gap: var(--column-gap);
}

.multiline {
    flex-wrap: wrap;
    row-gap: var(--row-gap);
    column-gap: var(--column-gap);
}